@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}

 /* For WebKit browsers (Chrome, Safari, Edge) */
        .no-spinners::-webkit-inner-spin-button,
        .no-spinners::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
          /* Important to remove any default margin */
        }
    
        /* For Firefox */
        .no-spinners {
          -moz-appearance: textfield;
          /* This hides the spinner for Firefox */
        }

::-webkit-scrollbar {
  display: none;
}
